body {
        margin-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
}

a {
text-decoration: none;
}

h3.trigger {
        padding: 0 0 0 50px;
        margin: 0 0 5px 0;
        height: 46px;
        line-height: 46px;
        width: 550px;
        font-size: .85em;
        float: left;
}
h3.trigger a {
        color: #fff;
        text-decoration: none;
        display: block;
}
h3.trigger a:hover { color: #ccc; }
h3.active {background-position: left bottom;} /*--When toggle is triggered, it will shift the image to the bottom to show its "opened" state--*/
.toggle_container {
        margin: 0 0 5px;
        padding: 0;
        overflow: hidden;
        font-size: .90em;
        width: 900px;
        clear: both;
}
.toggle_container .block {
}

 pre {
        border: 1pt solid #AEBDCC;
        background-color: #F3F5F7;
        padding: 8pt;
        font-family: monospace;
        font-size: 100%;
        overflow:auto;
  }
